/* TIMER */
#timer{
	text-align: center;
}
	#timer span{
		color: red;
		font-size: x-large;
	}


/* MOVES CONTAINER */
.moves_container{
	height: 700px;
}

	.moves_container.column{
		display: flex;
		flex-flow: column nowrap;
	}

	.moves_container.row{
		display: flex;
		flex-flow: row nowrap;
	}

.moves_panel{
	margin: 2px;
}

#main_moves_container{
	width:60%;
	margin:auto;
}

#big_inner_moves_container{
	width: 75%;
}
#small_inner_moves_container{
	width: 25%;
}

#color_panel{
	background-color: orange;
	height: 40%;
}
#public_action_panel{
	background-color: green;
	width: 50%;
}
#private_action_panel{
	background-color: blue;
	width: 50%;
}
#maneuver_panel{
	background-color: purple;
	height: 40%;
}
#communication_panel{
	background-color: yellow;
	height: 100%;
}



.move_maximized_panel{
	width: 60%;
	height: 700px;
	margin: auto;
}
/* COLOR PAGE */

#color_maximized{
	background-color: orange;
	display: flex;
	flex-flow: row nowrap;
}

	/* #color_maximized [contenteditable]{ */
	/* #color_maximized input[type="text"]{ */
	#color_maximized textarea{
		background-color: white;
		border-style: solid;
		margin: auto 1em;
		/* height: 90%; */
		height: auto;
		width: 90%;
		resize: none;
		overflow: hidden;
	}

	#color_maximized input[type="button"]{
		width: auto;
		margin: auto;
		padding: 1em 2em;
		border-style: none;
		background-color: white;
	}


