{% extends "base.html" %}

{% block content %} 
<div id="main_moves_container" class="moves_container row">
	<div id="big_inner_moves_container" class="moves_container column">
		<div id="color_panel" class="moves_panel" onclick="maximize('color_panel.html')">
			COLOR POSTS GO HERE
		</div>
		<div class="moves_container row">
			<div id="public_action_panel" class="moves_panel" onclick="alert('Yup')">PUBLIC ACTION</div>
			<div id="private_action_panel" class="moves_panel" onclick="alert('Yup')">PRIVATE ACTION</div>
		</div>
		<div id="maneuver_panel" class="moves_panel" onclick="alert('Yup')">MANEUVER</div>
	</div>
	<div id="small_inner_moves_container" class="moves_container">
		<div id="communication_panel" class="moves_panel" onclick="alert('Yup')">COMS</div>
	</div>
</div>
{% endblock %}
